[package]
name = "blockchain_copycat"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
mailbox = { git="ssh://git@github.com/qusuyan/mailbox.git" }
env_logger = "0.10"
log = "0.4"
