[workspace]
members = [
    "copycat_server", 
    "copycat_utils"
]
resolver = "2"

[patch.'ssh://git@github.com/qusuyan/mailbox.git']
mailbox_client = { path="../mailbox/mailbox_client" }
mailbox_utils = { path="../mailbox/mailbox_utils" }
